@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ================== */
/* Custom properties */
/* ================== */

:root {
  --ff-main: 'Poppins', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;

  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-07: 0.438rem;
  --fs-08: 0.5em;
  --fs-09: 0.563em;
  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-15: 0.938rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-56: 3.5rem;
  --fs-60: 3.75rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-80: 5rem;

  --clr-pink: hsl(322, 100%, 66%);
  --clr-pink-hover: hsl(322, 87%, 76%);

  --clr-very-pale-cyan: hsl(193, 100%, 96%);
  --clr-very-dark-cyan: hsl(192, 100%, 9%);
  --clr-grayish-blue: hsl(208, 11%, 55%);
  --clr-white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--clr-white);
  color: var(--clr-very-dark-cyan);
  font-family: var(--ff-main);
  font-size: var(--fs-16);
  font-weight: var(--fw-regular);
  line-height: 1.5;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}

/* ================== */
/* Typography */
/* ================== */

.title {
  font-size: var(--fs-24);
  font-weight: var(--fw-semi-bold);
}

.copy-text {
  font-family: var(--ff-secondary);
}

.small-title {
  font-size: var(--fs-20);
  font-weight: var(--fw-semi-bold);
}

.feat-copy-text {
  font-family: var(--ff-secondary);
  font-size: var(--fs-14);
  color: var(--clr-grayish-blue);
}

.medium-title {
  font-size: var(--fs-18);
  font-weight: var(--fw-semi-bold);
}

.contact__text {
  font-size: var(--fs-14);
  color: var(--clr-white);
  font-family: var(--ff-secondary);
  line-height: 1.7;
}

.footer__link {
  font-family: var(--ff-secondary);
  text-decoration: none;
  color: var(--clr-white);
  font-size: var(--fs-14);
}

.small-text {
  font-size: var(--fs-12);
  color: var(--clr-white);
}

/* ================== */
/* Buttons & inputs */
/* ================== */
.btn {
  font-size: var(--fs-12);
  font-weight: var(--fw-bold);
  text-decoration: none;
  border-radius: 2em;
  display: inline-block;
  cursor: pointer;
}

.btn--header {
  padding: 0.6em 1.5em;
  background-color: var(--clr-white);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.btn--header:hover,
.btn--header:focus {
  color: var(--clr-grayish-blue);
}

.btn--hero {
  color: var(--clr-white);
  background-color: var(--clr-pink);
  width: 240px;
  padding: 1em 1.5em;
}

.btn--hero:hover,
.btn--hero:focus {
  background-color: var(--clr-pink-hover);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

/* ================== */
/* Utility styles */
/* ================== */

.container {
  padding: 0em 1em;
}

/* ================== */
/* SECTIONS */
/* ================== */
.header-and-hero {
  background: url('./images/bg-hero-mobile.svg');
  background-color: var(--clr-very-pale-cyan);
}

.header {
  padding-top: 1.75em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  width: 104px;
}

.hero {
  margin-top: 5em;
  padding: 0 2.175em 2.25em;

  display: flex;
  flex-direction: column;
  gap: 3.5em;
}

.hero .copy-text {
  margin-top: 1.5em;
}

.btn--hero {
  margin-top: 2em;
}

/* Main */
.main {
  padding-top: 3.7em;
}

.features {
  padding: 0em 1.25em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.1) 5px 4px 6px -5px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 0.5em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;

  padding: 1.5em 2.5em 2em;
}

.feat-a .section__illustration-area,
.feat-b .section__illustration-area,
.feat-c .section__illustration-area {
  order: -1;
}

.feat-copy-text {
  margin-top: 1em;
}

.cta-section {
  padding: 2.5em 0.7em;
  margin: 7.5em 0.7em -4em;
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.1) 5px 4px 6px -5px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.footer {
  background: var(--clr-very-dark-cyan);
  padding: 8em 1em 1em;
}

.footer .logo-img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%)
    contrast(102%);
  width: 150px;
  margin-bottom: 2em;
}

.contact-info {
  text-align: left;
}

.contact__medium {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;

  margin-top: 1.5em;
}

.contact-icon-img--location {
  width: 50px;
  margin-top: -1.25em;
}

.links {
  margin-top: 2.5em;
}

.links__a,
.links__b {
  text-align: left;
}

.footer__link {
  display: inline-block;
  margin-top: 1em;
}

.footer__link:hover,
.footer__link:focus {
  text-decoration: underline;
}

.socials-and-copyright {
  margin-top: 1.5em;
}

.socials ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.9em;
}

.fab {
  font-size: var(--fs-20);
  color: var(--clr-white);
  border: 1px solid var(--clr-white);
  padding: 0.5em 0.5em;
  border-radius: 50%;
}

.copyright {
  margin-top: 1.5em;
}

.signature {
  margin-top: 3em;
  color: var(--clr-white);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 600px) {
  .container {
    padding: 3em 2em 0;
  }

  .illustration-img {
    max-width: 450px;
    margin: 0 auto;
  }

  .features {
    padding: 0em 2.5em;
  }

  .footer {
    padding: 8em 2em 1em;
  }
}

/* Tablet 2 */
@media (min-width: 860px) {
  /* Typography */
  .title {
    font-size: var(--fs-24);
  }

  .copy-text {
    font-size: var(--fs-18);
  }

  .medium-title {
    font-size: var(--fs-24);
  }

  .btn--hero {
    text-align: center;
    font-size: var(--fs-14);
  }

  /* Utility styles */

  .container {
    padding: 3em 5em 0;
  }

  /* Sections */

  .header .logo {
    width: 200px;
  }

  .btn--header {
    font-size: var(--fs-14);
    width: 200px;
  }

  .hero {
    padding: 0 5em 4.5em;

    flex-direction: row;
    align-items: center;
  }

  .hero__copy-area {
    text-align: left;
  }

  .illustration-img {
    max-width: 400px;
  }

  .features {
    padding: 0 5em;
  }

  .card {
    flex-direction: row;
    justify-content: space-between;
    gap: 4em;
  }

  .feat-a .section__illustration-area,
  .feat-c .section__illustration-area {
    order: 1;
  }

  .features .illustration-img {
    max-width: 300px;
  }

  .section__copy-area {
    text-align: left;
  }

  .cta-section {
    max-width: 600px;
    margin: 7.5em auto -4em;
  }

  .footer {
    padding: 8em 5em 1em;
  }

  .footer__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5em;
  }

  .links {
    margin-top: 0;
  }

  .socials-and-copyright {
    margin-top: 0em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .socials ul {
    justify-content: flex-start;
  }

  .copyright {
    text-align: left;
  }
}

/* Desktop */
@media (min-width: 1140px) {
  /* Typography */
  .title {
    font-size: var(--fs-40);
  }

  .small-title {
    font-size: var(--fs-28);
  }

  .feat-copy-text {
    font-size: var(--fs-18);
  }

  .medium-title {
    font-size: var(--fs-32);
  }

  /* Sections */
  .header,
  .hero,
  .main,
  .footer__grid {
    max-width: 1650px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero__copy-area {
    width: 45%;
  }
  .hero__image-area {
    width: 55%;
  }

  .card {
    padding: 2.5em 2.5em 3em;
    gap: 5em;
  }

  .illustration-img {
    max-width: unset;
    width: 100%;
  }

  .features .illustration-img {
    max-width: 440px;
  }

  .section__copy-area {
    max-width: 485px;
  }

  .cta-section {
    max-width: 800px;
    padding: 3.5em 0;
    margin: 7.5em auto -5em;
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5em;
  }

  .socials-and-copyright {
    margin-top: 3em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
